<div class="m-4 ">
    <h2 class="text-success">
        Forget Password
    </h2>
</div>


<div class="mt-4" >
    <div class="mt-4">
        <input class="form-control bg-body-secondary" placeholder="Email" formControlName="Email">
        <div *ngIf="ForgetPasswordForm.get('Email').touched">
             <span class="error" *ngIf="ForgetPasswordForm.controls.Email.hasError('required')">Email is required.</span>
             <span class="error" *ngIf="ForgetPasswordForm.controls.Email.hasError('email')">Invalid email format.</span>
        </div>
    </div>
</div>

<div class="mt-4" (click)="submit()">
    <button type="submit" class="btn btn-success w-100" >Submit</button>
</div>